<head>
  <title><%= title %></title>
</head>

<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
<link href="stylesheets/jquery.qtip.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="stylesheets/jquery-ui.css">

<!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
<script src="javascripts/vimeo.js"></script>
<script src="javascripts/d3-polygon.min.js"></script>
<script src="javascripts/jquery-1.10.2.min.js"></script>
<script src="javascripts/jquery-ui.js"></script>
<script src="javascripts/jquery.qtip.min.js"></script>
<script src="javascripts/jquery.rotate.min.js"></script>
<script src="javascripts/wave.js"></script>

<!-- Audio Introducción -->
<audio class="audio-interval" id="audio-intro" loop autoplay>
  <source src="audio/intro.mp3" type="audio/mpeg">
</audio>

<!-- Audio Ruido -->
<audio class="audio-interval" id="audio-ruido" loop autoplay>
  <source src="audio/ruido.mp3" type="audio/mpeg">
</audio>

<!-- Audio Atención -->
<audio class="audio-interval" id="audio-atencion" loop autoplay >
  <source src="audio/atencion.mp3" type="audio/mpeg">
</audio>

<!-- Click Atención -->
<audio class="audio-click" id="audio-click-a" >
  <source src="audio/click_atencion.aif" type="audio/aif">
</audio>

<!-- Click Ruido -->
<audio class="audio-click" id="audio-click-r" >
  <source src="audio/click_ruido.aif" type="audio/aif">
</audio>

<!-- Click Cruces Exteriores -->

<!-- Click Perro -->
<audio class="audio-ext" id="audio-perro" >
  <source src="audio/perro.mp3" type="audio/mpeg">
</audio>

<!-- Click Knock -->
<audio class="audio-ext" id="audio-knock" >
  <source src="audio/knock.mp3" type="audio/mpeg">
</audio>

<!-- Click Celular -->
<audio class="audio-ext" id="audio-celular" >
  <source src="audio/celular.mp3" type="audio/mpeg">
</audio>

<!-- Click Bici -->
<audio class="audio-ext" id="audio-bici" >
  <source src="audio/bici.mp3" type="audio/mpeg">
</audio>

<!-- Click Estrella -->
<audio class="audio-ext" id="audio-estrella" >
  <source src="audio/estrella.mp3" type="audio/mpeg">
</audio>

<!-- Fin Click Cruces Exteriores -->


<!-- About Page -->
<div class="about-main-container hidden">
<img id="about-panel-close" src="images/pregunta.svg">
  <div class="about-inner-container">
    
    <div class="about-topnav">
      <div class="about-title-container">
        <p><%- __('about.title') %></p>
      </div>
    </div>

    <div class="about-bottom">
      <div class="about-left">

        <p class="about-content-p content-p-init"><%- __('about.content.text_1') %><br><br><%- __('about.content.text_2') %><br><br><%- __('about.content.text_3') %><br><br><%- __('about.content.text_4') %></p>
        
        <div class="form-left-final hidden">
          <p class="about-content-p about-content-p-final"><%= __('form.content.text') %><br><br><%= __('form.content.greeting') %><br><br><a class="more-info-link" target="_blank" href="http://xdefault.cl"><%= __('form.content.more_info') %></a></p><br>
          <div class="form-about-left-fix">
            <div class="form-inner">
              <div class="form-left">
                <div class="left-age">
                  <span><%= __('form.input.age.header') %></span><br>
                  <input type="radio" name="age" value="0" checked> 14-20<br>
                  <input type="radio" name="age" value="1"> 21-27<br>
                  <input type="radio" name="age" value="2"> 28-34<br>
                  <input type="radio" name="age" value="3"> 35-42<br>
                  <input type="radio" name="age" value="4"> <%= __('form.input.age.last') %><br>
                </div>
              </div>
              
              <div class="form-right">
                <span><%= __('form.input.gender.header') %></span><br>
                <input type="radio" name="gender" value="M" checked> <%= __('form.input.gender.male') %><br>
                <input type="radio" name="gender" value="F"> <%= __('form.input.gender.female') %><br>
              </div>

            <div class="form-left">
                <div class="left-country">
                  <span><%= __('form.input.country') %></span><br>
                  <select id="country-select" name="country">
                    <option value="AF">Afganistán</option>
                    <option value="AL">Albania</option>
                    <option value="DE">Alemania</option>
                    <option value="AD">Andorra</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antártida</option>
                    <option value="AG">Antigua y Barbuda</option>
                    <option value="AN">Antillas Holandesas</option>
                    <option value="SA">Arabia Saudí</option>
                    <option value="DZ">Argelia</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaiyán</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrein</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BE">Bélgica</option>
                    <option value="BZ">Belice</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermudas</option>
                    <option value="BY">Bielorrusia</option>
                    <option value="MM">Birmania</option>
                    <option value="BO">Bolivia</option>
                    <option value="BA">Bosnia y Herzegovina</option>
                    <option value="BW">Botswana</option>
                    <option value="BR">Brasil</option>
                    <option value="BN">Brunei</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="BT">Bután</option>
                    <option value="CV">Cabo Verde</option>
                    <option value="KH">Camboya</option>
                    <option value="CM">Camerún</option>
                    <option value="CA">Canadá</option>
                    <option value="TD">Chad</option>
                    <option value="CL" selected>Chile</option>
                    <option value="CN">China</option>
                    <option value="CY">Chipre</option>
                    <option value="VA">Ciudad del Vaticano (Santa Sede)</option>
                    <option value="CO">Colombia</option>
                    <option value="KM">Comores</option>
                    <option value="CG">Congo</option>
                    <option value="CD">Congo, República Democrática del</option>
                    <option value="KR">Corea</option>
                    <option value="KP">Corea del Norte</option>
                    <option value="CI">Costa de Marfíl</option>
                    <option value="CR">Costa Rica</option>
                    <option value="HR">Croacia (Hrvatska)</option>
                    <option value="CU">Cuba</option>
                    <option value="DK">Dinamarca</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egipto</option>
                    <option value="SV">El Salvador</option>
                    <option value="AE">Emiratos Árabes Unidos</option>
                    <option value="ER">Eritrea</option>
                    <option value="SI">Eslovenia</option>
                    <option value="ES">España</option>
                    <option value="US">Estados Unidos</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Etiopía</option>
                    <option value="FJ">Fiji</option>
                    <option value="PH">Filipinas</option>
                    <option value="FI">Finlandia</option>
                    <option value="FR">Francia</option>
                    <option value="GA">Gabón</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GD">Granada</option>
                    <option value="GR">Grecia</option>
                    <option value="GL">Groenlandia</option>
                    <option value="GP">Guadalupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GY">Guayana</option>
                    <option value="GF">Guayana Francesa</option>
                    <option value="GN">Guinea</option>
                    <option value="GQ">Guinea Ecuatorial</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="HT">Haití</option>
                    <option value="HN">Honduras</option>
                    <option value="HU">Hungría</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IQ">Irak</option>
                    <option value="IR">Irán</option>
                    <option value="IE">Irlanda</option>
                    <option value="BV">Isla Bouvet</option>
                    <option value="CX">Isla de Christmas</option>
                    <option value="IS">Islandia</option>
                    <option value="KY">Islas Caimán</option>
                    <option value="CK">Islas Cook</option>
                    <option value="CC">Islas de Cocos o Keeling</option>
                    <option value="FO">Islas Faroe</option>
                    <option value="HM">Islas Heard y McDonald</option>
                    <option value="FK">Islas Malvinas</option>
                    <option value="MP">Islas Marianas del Norte</option>
                    <option value="MH">Islas Marshall</option>
                    <option value="UM">Islas menores de Estados Unidos</option>
                    <option value="PW">Islas Palau</option>
                    <option value="SB">Islas Salomón</option>
                    <option value="SJ">Islas Svalbard y Jan Mayen</option>
                    <option value="TK">Islas Tokelau</option>
                    <option value="TC">Islas Turks y Caicos</option>
                    <option value="VI">Islas Vírgenes (EE.UU.)</option>
                    <option value="VG">Islas Vírgenes (Reino Unido)</option>
                    <option value="WF">Islas Wallis y Futuna</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italia</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japón</option>
                    <option value="JO">Jordania</option>
                    <option value="KZ">Kazajistán</option>
                    <option value="KE">Kenia</option>
                    <option value="KG">Kirguizistán</option>
                    <option value="KI">Kiribati</option>
                    <option value="KW">Kuwait</option>
                    <option value="LA">Laos</option>
                    <option value="LS">Lesotho</option>
                    <option value="LV">Letonia</option>
                    <option value="LB">Líbano</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libia</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lituania</option>
                    <option value="LU">Luxemburgo</option>
                    <option value="MK">Macedonia, Ex-República Yugoslava de</option>
                    <option value="MG">Madagascar</option>
                    <option value="MY">Malasia</option>
                    <option value="MW">Malawi</option>
                    <option value="MV">Maldivas</option>
                    <option value="ML">Malí</option>
                    <option value="MT">Malta</option>
                    <option value="MA">Marruecos</option>
                    <option value="MQ">Martinica</option>
                    <option value="MU">Mauricio</option>
                    <option value="MR">Mauritania</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">México</option>
                    <option value="FM">Micronesia</option>
                    <option value="MD">Moldavia</option>
                    <option value="MC">Mónaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="MS">Montserrat</option>
                    <option value="MZ">Mozambique</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Níger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk</option>
                    <option value="NO">Noruega</option>
                    <option value="NC">Nueva Caledonia</option>
                    <option value="NZ">Nueva Zelanda</option>
                    <option value="OM">Omán</option>
                    <option value="NL">Países Bajos</option>
                    <option value="PA">Panamá</option>
                    <option value="PG">Papúa Nueva Guinea</option>
                    <option value="PK">Paquistán</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Perú</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PF">Polinesia Francesa</option>
                    <option value="PL">Polonia</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="UK">Reino Unido</option>
                    <option value="CF">República Centroafricana</option>
                    <option value="CZ">República Checa</option>
                    <option value="ZA">República de Sudáfrica</option>
                    <option value="DO">República Dominicana</option>
                    <option value="SK">República Eslovaca</option>
                    <option value="RE">Reunión</option>
                    <option value="RW">Ruanda</option>
                    <option value="RO">Rumania</option>
                    <option value="RU">Rusia</option>
                    <option value="EH">Sahara Occidental</option>
                    <option value="KN">Saint Kitts y Nevis</option>
                    <option value="WS">Samoa</option>
                    <option value="AS">Samoa Americana</option>
                    <option value="SM">San Marino</option>
                    <option value="VC">San Vicente y Granadinas</option>
                    <option value="SH">Santa Helena</option>
                    <option value="LC">Santa Lucía</option>
                    <option value="ST">Santo Tomé y Príncipe</option>
                    <option value="SN">Senegal</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leona</option>
                    <option value="SG">Singapur</option>
                    <option value="SY">Siria</option>
                    <option value="SO">Somalia</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="PM">St. Pierre y Miquelon</option>
                    <option value="SZ">Suazilandia</option>
                    <option value="SD">Sudán</option>
                    <option value="SE">Suecia</option>
                    <option value="CH">Suiza</option>
                    <option value="SR">Surinam</option>
                    <option value="TH">Tailandia</option>
                    <option value="TW">Taiwán</option>
                    <option value="TZ">Tanzania</option>
                    <option value="TJ">Tayikistán</option>
                    <option value="TF">Territorios Franceses del Sur</option>
                    <option value="TP">Timor Oriental</option>
                    <option value="TG">Togo</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad y Tobago</option>
                    <option value="TN">Túnez</option>
                    <option value="TM">Turkmenistán</option>
                    <option value="TR">Turquía</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UA">Ucrania</option>
                    <option value="UG">Uganda</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistán</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Vietnam</option>
                    <option value="YE">Yemen</option>
                    <option value="YU">Yugoslavia</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbawe</option>
                  </select>
                </div>
              </div>

              <div class="form-right">
                <span><%= __('form.input.city') %></span><br>
                <input type="text" name="city" id="city-input"/>
              </div>


            </div>
          </div>
        </div>

      </div>
      <div class="about-right">

        <div class="credits-container">
          
          <div class="about-credits">
            <p class="about-content-t"><%- __('about.credits.title') %></p>

            <ul class="credits-list small-list">
              <li class="credits-item"><p class="credits-item-t"><%- __('about.credits.items.design.header') %></p><p class="credits-item-c"><%- __('about.credits.items.design.content') %></p></li>
              <li class="credits-item"><p class="credits-item-t right"><%- __('about.credits.items.research.header') %></p><p class="credits-item-c right"><%- __('about.credits.items.research.content') %></p></li>
              <li class="credits-item"><p class="credits-item-t right"><%- __('about.credits.items.sound.header') %></p><p class="credits-item-c right"><%- __('about.credits.items.sound.content') %></p></li>
              <li class="credits-item"><p class="credits-item-t"><%- __('about.credits.items.web.header') %></p><p class="credits-item-c"><%- __('about.credits.items.web.content') %></p></li>
              <li class="credits-item"><p class="credits-item-t right"><%- __('about.credits.items.naration.header') %></p><p class="credits-item-c right"><%- __('about.credits.items.naration.content') %></p></li>
            </ul>
          
          </div>
          <div class="about-credits links">
          <p class="about-content-t"><%- __('about.links.title') %></p>

            <ul class="credits-list small-list">
              <li class="credits-item"><p class="credits-item-t"><%- __('about.links.items.papers.title') %></p></li>
              <li class="credits-item"><a target="_blank" href="https://pdfs.semanticscholar.org/aa94/9d605049459a1a581b4563237140ab72b239.pdf"><p class="credits-item-c right"><%- __('about.links.items.papers.content_1') %></p></a></li>
              <li class="credits-item m-bot-45"><a target="_blank" href="http://www.appliedneuroscience.com/Default%20mode-a%20brief%20history.pdf"><p class="credits-item-c right"><%- __('about.links.items.papers.content_2') %></p></a></li>
              <li class="credits-item"><p class="credits-item-t"><%- __('about.links.items.others.title') %></p></li>
              <li class="credits-item"><a target="_blank" href="http://www.quepasa.cl/articulo/ciencia/2015/11/mientras-dormias.shtml/"><p class="credits-item-c right"><%- __('about.links.items.others.content_1') %></p></a></li>
              <li class="credits-item"><a target="_blank" href="http://karinahy.com/memoria"><p class="credits-item-c right"><%- __('about.links.items.others.content_2') %></p></a></li>
            </ul>
          
          </div>

          <div class="logo-uc"><a target="_blank" href="http://diseno.uc.cl/"><img class="logo-diseno" src="images/logo.svg"></a><a target="_blank" href="http://medicina.uc.cl/psiquiatria/"><img src="images/medicina.svg"></a></div>
          <p class="credits-support"><%- __('about.footer') %></p>

        </div>
        
        <div class="form-right-final hidden">
          <span><%= __('form.input.explain') %></span><br>
          <input type="radio" name="explain" value="1" checked> <%= __('extra.yes') %><br>
          <input type="radio" name="explain" value="0"> <%= __('extra.no') %><br><br>

          <span><%= __('form.input.list.title') %></span><br>
          <input type="checkbox" name="manifest" value="Voces" checked> <%= __('form.input.list.voices') %><br>
          <input type="checkbox" name="manifest" value="Imagenes"> <%= __('form.input.list.images') %><br>
          <input type="checkbox" name="manifest" value="Sonidos"> <%= __('form.input.list.sound') %><br>
          <input type="checkbox" name="manifest" value="Emociones"> <%= __('form.input.list.emotions') %><br>
          <input type="checkbox" name="manifest" value="Personas"> <%= __('form.input.list.people') %><br>
          <input type="checkbox" name="manifest" value="Conceptos"> <%= __('form.input.list.concepts') %><br><br><br><br>

          <span><%= __('form.input.text_area') %></span><br>
          <textarea id="comment-textarea" class="about-textarea" name="comment" rows="6" cols="68"></textarea><br><br>

          <div class="about-email">
            <input type="text" name="email" id="input-email" placeholder="<%= __('extra.placeholder') %>" />
            <button class="btn-send"><%= __('extra.send') %></button>
            <p class="about-flash" style="display:none"><%= __('extra.send_success') %></p>
            <p class="about-wrong" style="display:none"><%= __('extra.send_error') %></p>
          </div>
        </div>

      </div>
    </div>
  
  </div>
</div>
<!-- Fin About Page -->

<!-- First Mask -->
<div id="first-mask" class="hidden"></div>

<!-- Waves Red -->
<div class="wave-inner-container">
  <!-- <div id="siri-container-1" class="wave-container"></div>
  <div id="siri-container-2" class="wave-container"></div>
  <div id="siri-container-3" class="wave-container"></div>
  <div id="siri-container-4" class="wave-container"></div>
  <div id="siri-container-5" class="wave-container"></div>
  <div id="siri-container-6" class="wave-container"></div>
  <div id="siri-container-7" class="wave-container"></div> -->
  <video loop muted autoplay id="waves1" class="fullscreen-bg-video">
      <source src="videos/waves1.mp4" type="video/mp4">
  </video>
  <video loop muted autoplay id="waves2" class="fullscreen-bg-video hidden">
      <source src="videos/waves2.mp4" type="video/mp4">
  </video>
</div>
<div class="canvas-mask"></div>
<div class="canvas-mask-net hidden"></div>


<!-- Elementos de Introducción -->

<!-- Elemento Intro 1 -->
<div class="main-cover-container hidden" id="cover-1">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_1.line_1') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_1.line_2') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_1.line_3') %></p>
    </div>
  </div>
</div>

<!-- Elemento Intro 2 -->
<div class="main-cover-container hidden" id="cover-2">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_2.line_1') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_2.line_2') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_2.line_3') %></p>
    </div>
  </div>
</div>

<!-- Elemento Intro 3 -->
<div class="main-cover-container hidden" id="cover-3">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_3.line_1') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_3.line_2') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_3.line_3') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_3.line_4') %></p>
    </div>
  </div>
</div>

<!-- Elemento Intro 4 -->
<div class="main-cover-container hidden" id="cover-4">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('intro.slide_4.line_1') %></p>
    </div>
  </div>
</div>

<!-- Elemento Home -->
<div class="main-cover-container hidden" id="cover-home">
  <div class="cover-container">
    <div class="title-container">
      <p class="cover-title-b"><%= __('home.title') %></p>
    </div>
  </div>
  <div class="cover-container">
    <div class="title-container">
      <p class="cover-title-s"><%= __('home.subtitle') %></p>
    </div>
  </div>

  <div class="cover-container cover-msg">
    <div class="cover-next-msg">
      <p class="cover-next-s"><%= __('home.hint') %></p>
      <div id="bcover-btn-init" class="cover-inline-img"><img src="images/start.svg"></div>
    </div>
  </div>
</div>

<div class="skip-arrow hidden"><p class="skip-text"><%= __('intro.skip') %></p></div>

<!-- Fin Elementos de Introducción -->

<!-- Elementos de Conclusión -->

<!-- Elemento Final 1 -->
<div class="main-cover-container hidden" id="final-1">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_1.line_1') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_1.line_2') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_1.line_3') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_1.line_4') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_1.line_5') %></p>
    </div>
  </div>
</div>

<!-- Elemento Final 2 -->
<div class="main-cover-container hidden" id="final-2">
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_2.line_1') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_2.line_2') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_2.line_3') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_2.line_4') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_2.line_5') %></p>
    </div>
  </div>
  <div class="cover-container cover-intro">
    <div class="title-container">
      <p class="cover-title-i"><%= __('outro.slide_2.line_6') %></p>
    </div>
  </div>
  <div class="cover-container cover-msg btns-container">
    <div class="cover-next-msg final-btns">
      <div class="cover-inline-img final-inline"><div id="back-btn" class="final-btn"><p><%= __('outro.buttons.back') %></p></div></div>
      <div class="cover-inline-img final-inline"><div id="finish-btn" class="final-btn"><p><%= __('outro.buttons.end') %></p></div></div>
    </div>
  </div>
</div>

<!-- Fin Elementos de Conclusión -->


<!-- Modal Video -->
<div class="video-modal">
  <img id="video-modal-close" src="images/pregunta.svg">
  <iframe id="vimeo-player" src="https://player.vimeo.com/video/198436388?color=00ff98&api=1&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<!-- Fin Modal Video -->


<div id="main-container">

  <!-- About -->
  <div class="over-content about-container hidden">
    <div class="over-content about" id="about-container" style="left:68px;top:32px;"><img class="about-img" src="images/about.svg"></div>
    <div class="over-content about" id="about-info-container" style="left:116px;top:75px;"><img class="about-info" src="images/info.svg"></div>
    <div class="over-content about hidden" id="about-info-form" style="left:79px;top:70px;"><img class="about-form" src="images/formulario.svg"></div>
    <div class="over-content about" id="about-info-square" style="left:80px;top:40px;width:22px;height:22px"></div>
    <div class="over-content about" id="about-text-container" style="left:115px;top:47px;"><p class="about-title hidden"><%= __('main.about_slide') %></p></div> 
  </div>
  <!-- Fin About -->

  <div class="over-content info hidden" style="left:107px;top:68px;">
    <div class="info-container">
      <p class="info-content"><%= __('main.hintbox') %></p>
      <div class="cross-container"><img class="cross-img" src="images/instrucciones.png"></div>
      <div class="info-close"><span>x</span></div>
      <div class="info-border"></div>
    </div>
  </div>


  <!-- Puntos -->
  <div class="points-mask"></div>


    <!-- Preguntas -->
    <div class="over-content question point-elem" id="q1-l29t44" style="left:29%;top:44%;"><img id="img-q1" class="question-img" src="images/pregunta.svg"></div>
    <div class="over-content question point-elem" id="q2-l55t53" style="left:55%;top:53%;"><img id="img-q2" class="question-img" src="images/pregunta.svg"></div>
    <div class="over-content question point-elem" id="q3-l68t37" style="left:68%;top:37%;"><img id="img-q3" class="question-img" src="images/pregunta.svg"></div>
    <!-- Fin Preguntas -->


    <!-- Respuestas -->
    <div class="over-content answer point-elem" id="q1a1-l60t26" style="left:60%;top:26%;"><img id="img-q1a1" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q1a2-l49t64" style="left:49%;top:64%;"><img id="img-q1a2" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q2a1-l31t68" style="left:31%;top:68%;"><img id="img-q2a1" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q2a2-l42t44" style="left:42%;top:44%;"><img id="img-q2a2" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q2a3-l48t21" style="left:48%;top:21%;"><img id="img-q2a3" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q3a1-l67t51" style="left:67%;top:51%;"><img id="img-q3a1" class="answer-img" src="images/respuesta.svg"></div>
    <div class="over-content answer point-elem" id="q3a2-l64t68" style="left:64%;top:68%;"><img id="img-q3a2" class="answer-img" src="images/respuesta.svg"></div>
    <!-- Fin Respuestas -->


    <!-- Puntos Extra -->

    <!-- Extra Pregunta 1 -->
    <div class="over-content extra point-elem" id="q1a1e1-l39t28" style="left:39%;top:28%;"><img id="img-q1a1e1" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="q1a1e2-l43t13" style="left:43%;top:13%;"><img id="img-q1a1e2" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="q1a2e1-l37t61" style="left:37%;top:61%;"><img id="img-q1a2e1" class="extra-img" src="images/extra.svg"></div>

    <!-- Extra Pregunta 2 -->
    <div class="over-content extra point-elem" id="q2a1e1-l45t75" style="left:45%;top:75%;"><img id="img-q2a1e1" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="q2a3e1-l49t38" style="left:49%;top:38%;"><img id="img-q2a3e1" class="extra-img" src="images/extra.svg"></div>
    <!-- Q2A3E2 OK -->

    <!-- Extra Pregunta 3 -->
    <div class="over-content extra point-elem" id="q3a2e1-l72t26" style="left:72%;top:26%;"><img id="img-q3a2e1" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="q3a2e2-l80t50" style="left:80%;top:50%;"><img id="img-q3a2e2" class="extra-img" src="images/extra.svg"></div>

    <!-- Extras Individuales -->
    <div class="over-content extra point-elem" id="e1-l27t26" style="left:27%;top:26%;"><img id="img-e1" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e2-l21t38" style="left:21%;top:38%;"><img id="img-e2" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e3-l18t57" style="left:18%;top:57%;"><img id="img-e3" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e4-l26t60" style="left:26%;top:60%;"><img id="img-e4" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e5-l22t74" style="left:22%;top:74%;"><img id="img-e5" class="extra-img" src="images/extra.svg"></div>
    <!-- <div class="over-content extra point-elem" id="e6-l30t91" style="left:30%;top:91%;"><img id="img-e6" class="extra-img" src="images/extra.svg"></div> -->
    <div class="over-content extra point-elem" id="e7-l41t83" style="left:41%;top:83%;"><img id="img-e7" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e8-l58t11" style="left:58%;top:11%;"><img id="img-e8" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e9-l56t88" style="left:56%;top:88%;"><img id="img-e9" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e10-l66t83" style="left:66%;top:83%;"><img id="img-e10" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e11-l73t63" style="left:73%;top:63%;"><img id="img-e11" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e12-l77t77" style="left:77%;top:77%;"><img id="img-e12" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e13-l81t64" style="left:81%;top:64%;"><img id="img-e13" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e14-l50t78" style="left:50%;top:78%;"><img id="img-e14" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e15-l64t87" style="left:64%;top:87%;"><img id="img-e15" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e16-l61t40" style="left:61%;top:40%;"><img id="img-e16" class="extra-img" src="images/extra.svg"></div>
    <div class="over-content extra point-elem" id="e17-l56t73" style="left:56%;top:73%;"><img id="img-e17" class="extra-img" src="images/extra.svg"></div>
    <!-- Fin Puntos Extra -->

    <!-- Extras Exteriores -->
    <div class="over-content extra point-elem exterior" id="e18-l5t25" style="left:7%;top:26%;"><img id="img-e18" data-id="0" class="ext-img" src="images/cruz_afuera.svg"></div>
    <div class="over-content extra point-elem exterior" id="e19-l5t53" style="left:7%;top:54%;"><img id="img-e19" data-id="1" class="ext-img" src="images/cruz_afuera.svg"></div>
    <div class="over-content extra point-elem exterior" id="e20-l5t90" style="left:7%;top:91%;"><img id="img-e20" data-id="2" class="ext-img" src="images/cruz_afuera.svg"></div>
    <div class="over-content extra point-elem exterior" id="e21-l82t90" style="left:84%;top:91%;"><img id="img-e21" data-id="3" class="ext-img" src="images/cruz_afuera.svg"></div>
    <div class="over-content extra point-elem exterior" id="e22-l94t90" style="left:96%;top:91%;"><img id="img-e22" data-id="4" class="ext-img" src="images/cruz_afuera.svg"></div>
    <div class="over-content extra point-elem exterior" id="e23-l94t53" style="left:96%;top:54%;"><img id="img-e23" data-id="5" class="ext-img" src="images/cruz_afuera.svg"></div>
    <div class="over-content extra point-elem exterior" id="e24-l94t9" style="left:96%;top:10%;"><img id="img-e24" data-id="6" class="ext-img" src="images/cruz_afuera.svg"></div>
    <div class="over-content extra point-elem exterior" id="e25-l82t9" style="left:84%;top:10%;"><img id="img-e25" data-id="7" class="ext-img" src="images/cruz_afuera.svg"></div>
    <!-- Fin Extras Exteriores -->


  <!-- Fin Puntos -->

  <!-- Textos Atención y Ruido -->

  <div class="over-content click-text-bottom ruido hidden">
      <p class="click-text"><%= __('main.info_text.attention.title.line_1') %><br><%= __('main.info_text.attention.title.line_2') %></p>
      <p class="click-text p-click-text"><%= __('main.info_text.attention.content.line_1') %><br><%= __('main.info_text.attention.content.line_2') %><br><%= __('main.info_text.attention.content.line_3') %><br><%= __('main.info_text.attention.content.line_4') %><br><%= __('main.info_text.attention.content.line_5') %><br><%= __('main.info_text.attention.content.line_6') %><br><%= __('main.info_text.attention.content.line_7') %></p>
  </div>

  <div class="over-content click-text-bottom atencion hidden">
      <p class="click-text"><%= __('main.info_text.resting.title.line_1') %><br><%= __('main.info_text.resting.title.line_2') %></p>
      <p class="click-text p-click-text"><%= __('main.info_text.resting.content.line_1') %><br><%= __('main.info_text.resting.content.line_2') %><br><%= __('main.info_text.resting.content.line_3') %><br><%= __('main.info_text.resting.content.line_4') %><br><%= __('main.info_text.resting.content.line_5') %><br><%= __('main.info_text.resting.content.line_6') %><br><%= __('main.info_text.resting.content.line_7') %></p>
  </div>

  <!-- Fin Textos Atención y Ruido -->
  

  <!-- Tooltips -->
    
    <!-- Pregunta 1 -->
    <div class="tt-q1-container tt-main-container hidden">
      <div class="over-content tooltip arrowbox-right tt-question" id="tt-q1" style="left:7%;top:38%;">
        <p class="tt-content"><%= __('main.question_1.title') %></p>
        <p class="tt-title"><%= __('main.question_1.subtitle') %></p>
      </div>
      
      <div class="over-content tooltip tt-answer hidden" video-id="<%= __('main.question_1.answer_1.video_id') %>" id="tt-q1a1" style="left:50%;top:24%;">
        <p class="tt-title"><%= __('main.question_1.answer_1.title') %></p>
        <p class="tt-content"><%= __('main.question_1.answer_1.subtitle') %></p>
      </div>

      <div class="over-content tooltip tt-answer hidden" video-id="<%= __('main.question_1.answer_2.video_id') %>" id="tt-q1a2" style="left:69%;top:54%;">
        <p class="tt-title"><%= __('main.question_1.answer_2.title') %></p>
        <p class="tt-content"><%= __('main.question_1.answer_2.subtitle') %></p>
      </div>
    </div>
    <!-- Fin Pregunta 1 -->

    <!-- Pregunta 2 -->
    <div class="tt-q2-container tt-main-container hidden">
      <div class="over-content tooltip arrowbox-left tt-question" id="tt-q2" style="left:62%;top:47%;">
        <p class="tt-content"><%= __('main.question_2.title') %></p>
        <p class="tt-title"><%= __('main.question_2.subtitle') %></p>
      </div>
      
      <div class="over-content tooltip tt-answer hidden" video-id="<%= __('main.question_2.answer_1.video_id') %>" id="tt-q2a1" style="left:38%;top:47%;">
        <p class="tt-content"><%= __('main.question_2.answer_1.title') %></p>
      </div>

      <div class="over-content tooltip tt-answer hidden" video-id="<%= __('main.question_2.answer_2.video_id') %>" id="tt-q2a2" style="left:33%;top:71%;">
        <p class="tt-content"><%= __('main.question_2.answer_2.title') %></p>
      </div>

      <div class="over-content tooltip tt-answer hidden" video-id="<%= __('main.question_2.answer_3.video_id') %>" id="tt-q2a3" style="left:54%;top:71%;">
        <p class="tt-content"><%= __('main.question_2.answer_3.title') %></p>
      </div>
    </div>
    <!-- Fin Pregunta 2 -->

    <!-- Pregunta 3 -->
    <div class="tt-q3-container tt-main-container hidden">
      <div class="over-content tooltip arrowbox-left tt-question" id="tt-q3" style="left:75%;top:31%;">
        <p class="tt-content"><%= __('main.question_3.title') %></p>
        <p class="tt-title"><%= __('main.question_3.subtitle') %></p>
      </div>
      
      <div class="over-content tooltip tt-answer hidden" video-id="<%= __('main.question_3.answer_1.video_id') %>" id="tt-q3a1" style="left:55%;top:29%;">
        <p class="tt-content"><%= __('main.question_3.answer_1.title') %></p>
      </div>

      <div class="over-content tooltip tt-answer hidden" video-id="<%= __('main.question_3.answer_2.video_id') %>" id="tt-q3a2" style="left:44%;top:67%;">
        <p class="tt-content"><%= __('main.question_3.answer_2.title') %></p>
      </div>
    </div>
    <!-- Fin Pregunta 3 -->
    

  <!-- Fin Tooltips -->

  <!-- Líneas -->
  <div class="svg-container">
    <svg><!-- Se crean las líneas de forma dinámica en init.js --></svg>
  </div>
  <!-- Fin Líneas -->

</div>


<script src="javascripts/init.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96531190-1', 'auto');
  ga('send', 'pageview');

</script>